<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>XSImageNet</title>
    <!-- load CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">                                  <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">                <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/static/css/tooplate-style.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>

    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");</script>

</head>

<body>
<div id="tm-bg"></div>
<div id="tm-wrap">
    <div class="tm-main-content">
        <div class="container tm-site-header-container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
                    <div class="tm-site-header">
                        <h1 class="mb-4">ImageNetAI平台</h1>
                        <img src="/static/img/underline.png" class="img-fluid mb-4">
                        <p>基于Keras+Tensorflow搭建，提供ResNet50神经网络的图片分类平台。</p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" style=";border:3px solid #f6f6f6;border-radius:10px;">
                    <div class="content" style="width:100%;height: 100%;text-align: center">
                        <div class="grid" style="width:100%;height: 100%;text-align: center">
                            <form action="/login/user" method="post" style="width:100%;height: 100%;margin: 30px;">
                                <table style="margin: 10px">
                                    <tr style="height: 60px">
                                        <td style="text-align: right">
                                            用户名：
                                        </td>
                                        <td style="text-align: left">
                                            <input name="user_name" type="text" style="width: 200px;">
                                        </td>
                                    </tr>
                                    <tr style="height: 60px">
                                        <td style="text-align: right">
                                            密码：
                                        </td>
                                        <td style="text-align: left">
                                            <input name="pass_word" type="password" style="width: 200px;">
                                        </td>
                                    </tr >
                                    <tr style="height: 60px">
                                        <td colspan="2" style="text-align: center">
                                            <button type="submit" style="width: 100%" class="btn btn-primary tm-btn-submit">登陆</button>
                                        </td>
                                    </tr>
                                </table>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .tm-main-content -->
</div>

</body>
</html>